# When a sound device is detected, restore the volume settings
KERNEL=="controlC[0-9]*", ACTION=="add", RUN+="/resources/indexes/system-programs/alsactl restore %n"
